body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 400px;
  background-color: aliceblue;
  gap: 25px;
}

button {
  font-size: 25px;
  border: 1px solid red;
  border-radius: 50%;
  padding: 5px 10px;
  background-color: aliceblue;
  cursor: pointer;
  transition: all 1s ease-out;
}

button:hover {
  background-color: red;
}
